<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html><head>
{%mf head%}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{% block title %} {{ blog.title}}{% endblock %}</title>
<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/style.css" type="text/css" />
<link rel="alternate" type="application/atom+xml" title="{{ blog.title }}" href="{{ blog.feedurl }}" />
<link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
<link rel="icon" type="image/ico" href="/favicon.ico">
<link rel="pingback" href="/pingback" />
{% block head_block %}{% endblock %}

{%endmf%}
</head>

<body class="home blog logged-in">
<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">
			<div id="branding" role="banner">
								<h1 id="site-title">
					<span>
					<a href="{{blog.baseurl}}/" title="{{blog.title}}" rel="home">{{blog.title}}</a>
					</span>

				</h1>
				<div id="site-description">{{ blog.subtitle}}   </div>
     <!--//头图会随着页面的不同而发生变化-->
	 {% block img_block %}{% endblock %}
	 
	 <!--//start 
										<img src="/themes/{{ blog.theme_name }}/images/headers/path.jpg" width="940" height="198" alt="" />
	end-->
	
								</div><!-- #branding -->

			<div id="access" role="navigation">
			  				<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
								<div class="menu">
								<ul>
			<li class="{%if ishome%}current_page_item{%else%}page_item{%endif%}" >
			<a  href="{{ blog.baseurl }}"  >首页</a>
		    </li>
			{{self.m_list_pages}}
    <li class="page_item" ><a href="{{blog.feedurl}}">(RSS)</a></li>
    {% block topmenu %}{% endblock %}
	{%mf nav_menu%}
    {%endmf%}
								</ul></div>

			</div><!-- #access -->
		</div><!-- #masthead -->
	</div><!-- #header -->
     <!-- #main//index start -->
	 {%block content %}{%endblock%}
	<!-- #main//index end -->

	<div id="footer" role="contentinfo">
	{%mf footer%}
		<div id="colophon">



			<div id="site-info">
			<a href="{{blog.baseurl}}/" title="	{{blog.title}}	" rel="home">{{blog.title}}	</a> is modified by  <a href="http://wjxm.org/" title="欢迎来访维基泄密中文" rel="generator" target="_blank">wjxm</a>
			</div><!-- #site-info -->

			<div id="site-generator">
	    <a href="http://code.google.com/appengine/" rel="nofollow">Powered by Google App Engine</a>
			</div><!-- #site-generator -->

		</div><!-- #colophon -->
	</div><!-- #footer -->
{%endmf%}
</div><!-- #wrapper -->

</body>
</html>
