<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
{%mf head%}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{% block title %}{{ blog.title }}{% endblock %}</title>
<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/style.css" type="text/css" />
<link rel="alternate" type="application/atom+xml" title="{{ blog.title }}" href="{{ blog.feedurl }}" />
<link rel="icon" type="image/ico" href="/favicon.ico">
{% block head_block %}{% endblock %}
{%endmf%}
</head>

<body class="home blog logged-in">
<div id="wrapper" class="hfeed">
<div id="header">
<div id="masthead">
<div id="branding" role="banner">
<h1 id="site-title"><span><a href="{{blog.baseurl}}/" title="{{blog.title}}" rel="home">{{blog.title}}</a></span></h1>
<div id="site-description">{{blog.subtitle}}</div>
<img src="/themes/{{ blog.theme_name }}/images/twentytenbanner.jpg" width="940" height="198" alt="鸣,banner" />
</div><!-- #branding -->
<div id="access" role="navigation">
<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
<div class="menu">
<ul>
	<li class="{%if ishome%}current_page_item{%else%}page_item{%endif%}"><a href="{{ blog.baseurl }}">首页</a></li>
	{{self.m_list_pages}}
	<li class="page_item"><a href="{{blog.feedurl}}">订阅</a></li>
	{% block topmenu %}{% endblock %}{%mf nav_menu%}{%endmf%}
</ul>
</div>
</div><!-- #access -->
</div><!-- #masthead -->
</div><!-- #header -->

<!-- #main//index start -->
{%block content%}{%endblock%}
<!-- #main//index end -->

<div id="footer" role="contentinfo">
{%mf footer%}
	<div id="colophon">
		<div id="site-info">
			<a href="{{blog.baseurl}}/" title="{{blog.title}}" rel="home">{{blog.title}}</a>
		</div><!-- #site-info -->
		<div id="site-generator">
			<a	href="http://micolog.xuming.net" rel="nofollow">Powered by Micolog</a>
		</div><!-- #site-generator -->
	</div><!-- #colophon -->
{%endmf%}
</div><!-- #footer -->
</div><!-- #wrapper -->

</body>
</html>
