<div id="respond">
<h3 id="reply-title">发表评论 <small><a style="display: none;" href="#respond" id="cancel-comment-reply-link" rel="nofollow">取消回复</a></small></h3>
<form id="commentform" method="post" action="/post_comment">
<div id="author_info">
 <p class="comment-notes">您的电子邮箱不会被公开。必要栏位标记为 <span class="required">*</span></p>
 <p class="comment-form-author">
   <label for="author">昵称</label>
   <span class="required">*</span>
   <input type="text" aria-required="true" size="30" value="{{user_name}}" name="author" id="author">
 </p>
 <p class="comment-form-email">
   <label for="email">电子邮箱</label>
   <span class="required">*</span>
   <input type="text" aria-required="true" size="30" value="{{user_email}}" name="email" id="email">
 </p>
 <p class="comment-form-url">
   <label for="url">网址</label>
   <input type="text" size="30" value="{{user_url}}" name="url" id="url">
 </p>
</div>
 <p class="comment-form-comment">
   <label for="comment">评论</label>
   <textarea aria-required="true" rows="8" cols="45" name="comment" id="comment"></textarea>
 </p>
{%ifequal blog.comment_check_type 1%}
<p id="checkarea">
<label for="checkcode">验证码：</label><span id="check"></span>
<input type="text" name="checkret" id="checkret" value="" size="5" tabindex="4" />
</p>
{%endifequal%}
<p class="form-submit">
<input name="submit" type="submit"  id="submit" tabindex="5" value="日志评论" />
<input name="reply_notify_mail" id="reply_notify_mail" tabindex="6" type="checkbox" checked="checked" />
<label for="reply_notify_mail">当有回复时，邮件通知我。</label>
<input type="hidden" name="key" value="{{entry.key}}" />
<input type="hidden" name="comment_parent" id="comment_parent" value="0">
<input type="hidden" name="useajax" value="1" />
</p>
</form>
</div><!-- #respond -->