{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block head_block %}
{% if entry %}
{%if entry.strtags%}<meta name="Keywords" content="{{entry.strtags}}">{%endif%}
{%if entry.excerpt%}<meta name="Description" content="{{entry.excerpt|escape}}">{%endif%}
{% endif %}
{% endblock %}

{% block content %}
<div id="main">
<div id="container">
<div id="content" role="main">
<div class="navigation" id="nav-above">
	<div class="nav-previous">{%for prev in entry.prev%}<a href="/{{prev.link}}">{{prev.title}}<span class="meta-nav">←</span></a>{%endfor%}</div>
	<div class="nav-next">{%for next in entry.next%}<a href="/{{next.link}}">{{next.title}}<span class="meta-nav">→</span></a>{%endfor%}</div>
</div>
{% if entry %}
<div class="post-{{entry.key}} post type-post hentry category-uncategorized tag-4 tag-3 tag-5" id="post-{{entry.key}}">
	<h1 class="entry-title">{{entry.title}}</h1>
	<div class="entry-meta">
	<span class="meta-prep meta-prep-author">Posted on</span> <a rel="bookmark" title="{{entry.date|datetz:"F jS"}}" href="/{{ entry.link }}">
	<span class="entry-date">{{entry.date|datetz:"F jS, Y"}}</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a title="View all posts by {{ blog.author }}" href="/{{ entry.link }}" class="url fn n">{{entry.author}} </a></span>					</div><!-- .entry-meta -->
<div class="entry-content">
{%mf entry_content %}{{ entry.content }}{%endmf%}
</div><!-- .entry-content -->
<div class="entry-utility">
This entry was posted in 
{%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a>{% if forloop.last %}{% else %},{% endif %} {%endfor%} 
and 
{% if entry.strtags %}Tagged: {%for tag in entry.tags%}<a href="/tag/{{tag|urlencode}}">{{tag}}</a>{% if forloop.last %}{% else %},{% endif %} {%endfor%}{%endif%}.
Bookmark the <a rel="bookmark" title="Permalink to {{entry.title}}" href="/{{ entry.link }}">permalink</a>.
<span class="edit-link">{%if self.is_admin%}<a href="{{entry.edit_url}}">Edit</a>  {%endif%}</span>		
</div><!-- .entry-utility -->
</div>
<div class="navigation" id="nav-below">
<div class="nav-previous">{%for prev in entry.prev%}<a href="/{{prev.link}}"><span class="meta-nav">←</span>{{prev.title}}</a>{%endfor%}</div>
<div class="nav-next">{%for next in entry.next%}<a href="/{{next.link}}">{{next.title}}<span class="meta-nav">→</span></a>{%endfor%}</div>
</div>
{% include "comments.html" %}   
{% else %}
<p>Sorry, no posts matched your criteria.</p>
{% endif %}
</div><!-- #content -->
</div><!-- #container -->	
<!-- #primary .widget-area //sidebar start-->
{% include "sidebar.html" %}
<!-- #primary .widget-area //sidebar end-->
</div>
{% endblock %}