<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
{%mf head%}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="HandheldFriendly" content="True" /> 
<meta name="Keywords" content="鸣,编程,人生,技术,杂谈,影音书,微博" />
<meta name="Description" content="欢迎来到鸣的博客，我在这里记录生活和分享技术。" />
<meta name="google-site-verification" content="vteEqiKZiwbjSN9TwkKliy8TfKK47D2HK-FcvkRIVyM" />
<meta name="y_key" content="86b1d861d28eb7a6" />
<title>{% block title %}{{ blog.title}}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/themes/{{ blog.theme_name }}/style.css" />
<link rel="alternate" type="application/atom+xml" title="{{ blog.title }}" href="{{ blog.feedurl }}" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/static/wlwmanifest.xml" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="pingback" href="/pingback" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
{% block head_block %}{% endblock %}
{%endmf%}
</head>
<body>
<div id="container">
<div id="header-title">
<div id="logo"><a href="{{ blog.baseurl }}">{{ blog.title}}</a></div>
<div id="description">{{ blog.subtitle}}</div>
<form action="/search" id="searchform">
<div>
    <input type="submit" id="searchsubmit" value="站内搜索" />
    <!-- <input type="text" name="q" id="q" /> -->
</div>
</form>
</div><!-- end header-title -->
<div id="content" class="clearfix">
{%block content %}{%endblock%}
</div><!-- end content -->
<div id="foot">
{%mf footer%}
<a href="{{ blog.baseurl }}">首页</a>
<a href="{{ blog.feedurl }}">订阅</a>
<a href="{{ blog.baseurl }}/book-movie-music">书影音@豆瓣</a>
<a href="{{ blog.baseurl }}/about">关于</a>
<a href="{{ blog.baseurl }}/wap">手机版</a>
<a class="footr" href="http://qhm123.appspot.com">Simple-Lines</a>
<a class="footr" href="http://micolog.appspot.com/">Micolog</a>
{%endmf%}
{% mf happychristmas %}{{ ishome }}{% endmf %}
</div><!-- end footer -->
</div><!-- end container -->
</body>
</html>
