{% extends "base.html" %}

{% block head_block %}
<link rel="canonical" href="{{ blog.baseurl }}" />
{% endblock %}

{% block content %}
<div id="postlist">
{%if entries%}
{% for entry in stickys %}
		<div id="post-{{entry.key}}" class="post-home">
			<div class="post-title"><h2><span class="csticky">[置顶]</span><a href="/{{ entry.link }}" rel="bookmark" title="{{ entry.title }}的永久链接">{{ entry.title }}</a></h2></div>
			<div class="post-messages">
			<div class="post-messages-1">日期：{{ entry.date|datetz:"Y.m.d" }}</div>
			<div class="post-messages-2">标签：{% if entry.strtags %}{%for tag in entry.tags%} <a href="/tag/{{tag}}">{{tag}}</a> {%endfor%}{%endif%}</div>
			<div class="post-messages-2">分类：{%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}</div>
			<div class="post-messages-3"><a href="/{{entry.link}}#comments">{{entry.commentcount}} Comments</a></div>
			</div>
		</div>
{% endfor %}
{% for entry in entries %}
	{%if not entry.sticky%}
		{% if forloop.first %}
		<div id="post-{{entry.key}}" class="post-home">
			<div class="post-title"><h2><a href="/{{ entry.link }}" rel="bookmark" title="Permanent Link to {{ entry.title }}">{{ entry.title }}</a></h2></div>
			<div class="post-content">
			{{ entry.content }}
			</div>
			<div class="post-messages">
			<div class="post-messages-1">日期：{{ entry.date|datetz:"Y.m.d" }}</div>
			<div class="post-messages-2">标签：{% if entry.strtags %}{%for tag in entry.tags%} <a href="/tag/{{tag}}">{{tag}}</a> {%endfor%}{%endif%}</div>
			<div class="post-messages-2">分类：{%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}</div>
			<div class="post-messages-3"><a href="/{{entry.link}}#comments">{{entry.commentcount}} Comments</a></div>
			</div>
		</div>
		{% else %}
		<div id="post-{{entry.key}}" class="post-home">
			<div class="post-title"><h2><a href="/{{ entry.link }}" rel="bookmark" title="Permanent Link to {{ entry.title }}">{{ entry.title }}</a></h2></div>
			<div class="post-content">
			{{entry.content_excerpt}}
			</div>
			<div class="post-messages">
			<div class="post-messages-1">日期：{{ entry.date|datetz:"Y.m.d" }}</div>
			<div class="post-messages-2">标签：{% if entry.strtags %}{%for tag in entry.tags%} <a href="/tag/{{tag}}">{{tag}}</a> {%endfor%}{%endif%}</div>
			<div class="post-messages-2">分类：{%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}</div>
			<div class="post-messages-3"><a href="/{{entry.link}}#comments">{{entry.commentcount}} Comments</a></div>
			</div>
		</div>
		{% endif %}
	{%endif%}
{% endfor %}

{%mf pagenavi%}
{{ pageindex }},{{ pagecount }}
{%endmf%}

{%endif%}
</div>

{% include "sidebar.html" %}
{% endblock %}