{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block head_block %}
{% if entry %}
{%if entry.strtags%}<meta name="Keywords" content="鸣,{{entry.strtags}}" />{%endif%}
{%if entry.excerpt%}<meta name="Description" content="{{entry.excerpt|escape}}" />{%endif%}
<link rel="canonical" href="{{blog.baseurl}}/{{ entry.link }}" />
{% endif %}
<script type="text/javascript" src="/themes/{{ blog.theme_name }}/comment.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.utf8.js"></script>
{% endblock %}

{% block content %}

<div id="left-content-single">
{% if entry %}
<div class="post-home">
<div class="post-title-single"><a href="{{blog.baseurl}}/{{ entry.link }}"><h1>{{ entry.title }}</h1></a></div>
<div class="post-content">{%mf entry_content %}{{ entry.content }}{%endmf%}</div>
<hr />
<p class="post-copyright">
作者: <a href="{{blog.baseurl}}">鸣</a> | 可以转载, 但必须以超链接形式标明文章原始出处和作者信息及版权声明</br>
网址: <a href="{{blog.baseurl}}/{{ entry.link }}">{{blog.baseurl}}/{{ entry.link }}</a>
<a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a><script language="javascript" type="text/javascript" src="http://www.bshare.cn/button.js#uuid=&amp;style=2&amp;textcolor=#000000&amp;bgcolor=none&amp;bp=sinaminiblog,douban,9dian,blogbaidu,blogsina,renren,qqmb,qzone&amp;ssc=false&amp;sn=true&amp;text=分享"></script>
</p>

{%mf after_entry_content%}
<div class="post-messages">
	<div class="post-messages-1">日期: {{ entry.date|datetz:"Y.m.d" }}</div>
	<div class="post-messages-2">标签: {% if entry.tags%}{%for tag in entry.tags%} <a href="/tag/{{tag|urlencode}}">{{tag}}</a> {%endfor%}{%endif%}</div>
	<div class="post-messages-2">分类: {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}</div>
	<span class="more-link">{%if self.is_admin%} <a href="{{entry.edit_url}}">编辑</a> {%endif%}</span>
</div>
{%endmf%}
</div>

<div class="navigation clearfix">
	<div class="alignleft">{%for prev in entry.prev%}<a href="/{{prev.link}}">«{{prev.title}}</a>{%endfor%}</div>
	<div class="alignright">{%for next in entry.next%}<a href="/{{next.link}}">{{next.title}}»</a>{%endfor%}</div>
</div>

<!--{%if relateposts%}
<div id="post-title-page">
	<h5><span>相关阅读</span></h5>
	<ul class="cate">
	{%for post in relateposts%}
		<li><a href="/{{post.link}}">{{post.title}}</a></li>
	{%endfor%}
	</ul>
</div>
{%endif%}-->

<div class="wumii-hook">
    <input type="hidden" name="wurl" value="{{blog.baseurl}}/{{ entry.link }}" />
    <input type="hidden" name="wtitle" value="{{entry.title}}" />
</div>
<script>
    var wumiiSitePrefix = "{{blog.baseurl}}";
</script>
<script type="text/javascript" id="wumiiRelatedItems" src="http://widget.wumii.com/ext/relatedItemsWidget.htm?type=1&amp;mode=3&amp;num=5"></script>
<a href="http://www.wumii.com/widget/relatedItems.htm" style="border:0;">
    <img src="http://static.wumii.com/images/pixel.png" alt="无觅相关文章插件" style="border:0;padding:0;margin:0;" />
</a>
<p style="display: none;">
    {%for tag in entry.tags%}<a rel="tag">{{tag}}</a>{%endfor%}
</p>

{% else %}
<p>对不起, 没有符合的页面。</p>
{% endif %}

<div id="comments">{% include "comments.html" %}</div>

</div>

{% include "sidebar.html" %}

{% endblock %}