<div class="respond-wrap">
  <div id="respond">
    <h3 id="reply-title">
      Reply
      <small>
        <a rel="nofollow" id="cancel-comment-reply-link" href="/{{ entry.link }}#respond" style="display:none;">
          Cancel reply
        </a>
      </small>
    </h3>
    <form action="/post_comment" method="post" id="commentform">
      <p class="comment-notes">
        Required fields are marked
        <span class="required">
          *
        </span>
      </p>
      <p class="comment-form-author">
        <label for="author">
          Name
        </label>
        <span class="required">
          *
        </span>
        <input id="author" name="author" type="text" value="" size="30" aria-required="true" tabindex="4">
      </p>
      <p class="comment-form-email">
        <label for="email">
          Email
        </label>
        <span class="required">
          *
        </span>
        <input id="email" name="email" type="text" value="" size="30" aria-required="true" tabindex="5">
      </p>
      <p class="comment-form-url">
        <label for="url">
          Website
        </label>
        <input id="url" name="url" type="text" value="" size="30" tabindex="6">
      </p>
      <div class="form">
        <textarea id="comment" class="expand50-100" name="comment" cols="45" rows="3" tabindex="7">
        </textarea>
      </div>
      <label class="post-error" for="comment" id="commenttext_error" style="display: none; ">
      </label>
      <span class="progress">
        <img src="/themes/{{ blog.theme_name }}/i/indicator.gif" alt="Loading..." title="Loading...">
      </span>
      <p class="form-submit">
        <input name="submit" type="submit" id="comment-submit" value="Reply" tabindex="8">
        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
        <input type="hidden" name="key" value="{{ entry.key }}" />
        <input type="hidden" name="useajax" value="1" />
      </p>
    </form>
  </div>
  <!-- #respond -->
</div>
